body{
	background: grey;
}

#wrapper{
	width: calc(100% - 20px);
	padding: 10px;
	margin: 0 auto;
	max-width: 1200px;
}


.program{
	text-align: center;
}

#zarva, #nyitva{
	width: 250px;
	margin: 10px auto;
	color: white;
	text-align: center;
	padding: 10px;
	display: none;
}

#zarva {
	background: red;
}

#nyitva {
	background: green;
}